{% extends 'base.html.twig' %}

{% block body %}

    <div class="card mx-auto mt-4 col-4 pl-0 pr-0 text-center">
        <div class="card-header text-white bg-danger">Chyba HTTP 401</div>
        <div class="card-body">
            <strong>{{ message }}</strong>
        </div>
    </div>

{% endblock %}