{% extends 'base.html.twig' %}

{% block body %}

    <h4>WEB Konference na téma:</h4>
    <h3>Hyperloop Plzen - Praha</h3>
    <p>
        Pokyny pro autory
    </p>
    <p>
        <strong>Rozsah příspěvku:</strong> maximálně 8 str.
    </p>
    <p>
        <strong>Jazyk:</strong> čeština nebo angličtina
    </p>
    <p>
        <strong>Formát:</strong> Text nebo PDF
    </p>

{% endblock %}