<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}KIV-WEB - Conference{% endblock %}</title>
</head>
<body>
<p>KIV-WEB - Conference</p>
<hr/>
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="/mcs/web/front.php/home">Home</a></li>
            <li><a href="/mcs/web/front.php/users/list">Users</a></li>
            <li><a href="/mcs/web/front.php/users/login">Login</a></li>
            <li><a href="/mcs/web/front.php/about">About</a></li>
        </ul>
    {% endblock %}
</div>

<div id="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>