{% extends 'base.html.twig' %}

{% block body %}

    <p>name</p>
    <p>{{ name }}</p>

    <ul id="navigation">
        {% for user in users %}
            <li><a href="{{ user.getViewUrl }}">{{ user.getEmail }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}